#home-page
 {
     width: 74vw;
     background-image: url('./img/homepage.png');
     background-repeat: no-repeat; 
     background-size: cover;
     object-fit: cover;
     background-position: center center;
 }

 /* Res for tablet and mobile */
 @media screen and (max-width: 1300px) 
 {
    #home-page
    {
        width: 98vw;
    }
 }