#inputdata-page
{
    width: 74vw;
}

#inputdata-container
{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputdata-form
{
    padding: 20px;
    border-radius: 20px;
    background-color: #C4C4C4;
}

.inputdata-heading
{
    font-size: 40px;
    font-weight: bold;
}

#inputdata-container table
{
    font-size: 30px;
    text-align: left;
    border-spacing: 20px 50px;
}

#inputdata-container table td
{
    color: red;
    font-size: 20px;
    overflow: visible;
    white-space: pre-line;
}

#inputdata-container table input
{
    padding: 10px;
    font-size: 25px;
    width: 90%;
}

#inputdata-container select 
{
    font-size: 25px;
    padding: 10px;
}

.inputdata-footer button
{
    margin-left: 85%;
    padding: 20px;
}