#inputdata-page
{
    width: 74vw;
}

#inputdata-container
{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputdata-form
{
    padding: 20px;
    border-radius: 20px;
    background-color: #C4C4C4;
}

.inputdata-heading
{
    font-size: 40px;
    font-weight: bold;
}
/* #information-container .search-form
{
    position: absolute;
    bottom: 10px;
    width: 95%;
    height: 40%;    
    background-color: #C4C4C4;
    border-radius: 20px;
}

#information-container .information-form
{
    position: absolute;
    top: 10px;
    width: 95%;
    height: 55%;
    background-color: #C4C4C4;
    border-radius: 20px;
}

.information-form-container
{
    padding: 20px;
    font-size: 24px;
} */

#inputdata-container table
{
    font-size: 30px;
    /* margin-top: 5%; */
    text-align: left;
    border-spacing: 20px 50px;
}

#inputdata-container table td:hover
{
    overflow: visible;
    white-space: pre-line;
}

#inputdata-container table input
{
    padding: 10px;
    font-size: 25px;
    width: 90%;
}

.inputdata-footer button
{
    float: right;
    padding: 20px;
}