#login-page
 {
     width: 74vw;
 }

 #login-page .container
 {
     padding: 0;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #login-form
 {
     width: 50%;
     background-color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
 }

 .login-header
 {
     background-color: #007bff;
     padding: 20px;
     color: white;
 }

.login-body
 {
     padding: 20px;
 }

 .login-body-group
 {
    margin: 20px 0;
 }

 .login-body-group label
 {
     display: block;
 }

 .login-body-group input
 {
     width: 95%;
     margin-top: 10px;
     font-size: 25px;
     padding: 10px;
 }

 .login-footer
 {
     padding: 0 30px 30px 30px;
 }

 .login-footer button
 {
     background-color: #007bff;
     border-color: #007bff;
     color: white;
     border-radius: 0;
     box-shadow: none;
 }

 .login-footer button:hover
 {
     cursor: pointer;
     background-color: #0069d9;
     border-color: #0062cc;
 }

 /* Res for tablet + mobile */
 @media screen and (max-width: 1300px)
 {
    #login-page
    {
        width: 98vw;
    }
 }
