#progress-page
{
    width: 74vw;
}

#progress-page table
{
    font-size: 30px;
    border-spacing: 0 30px;
}

/* Res for tablet + mobile */
@media screen and (max-width: 1300px)
{
    #progress-page
        {
            width: 100vw;
        }
}

/* Res for mobile */
@media screen and (max-width: 740px)
{
    #progress-page table td
    {
        font-size: 20px;
    }

    #progress-page table th 
    {
        font-size: 25px;
    }

    #progress-page .container
    {
        padding: 10px 5px;
    }
}