#report-page
{
    width: 74vw;
}

#report-page .container
 {
     padding: 0;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #report-form
 {
    width: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
 }

 .report-header
 {
    background-color: #007bff;
    padding: 20px;
    color: white;
 }

 .report-body
 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }

 .report-body-heading
 {
     font-size: 30px;
     margin-bottom: 20px;
 }

 .report-body .ti-face-smile
 {
    color: green;
    font-size: 40px;
 }

 .report-body .ti-face-sad
 {
     color: red;
     font-size: 40px;
 }

 .report-footer
 {
     display: flex;
     justify-content: center;
     padding-bottom: 20px;
 }

 /* Res for tablet + mobile */
 @media screen and (max-width: 1300px) 
 {
    #report-page
    {
        width: 100vw;
    }
 }

 /* Res for mobile */
@media screen and (max-width:740px)
{
    .report-header
    {
        text-align: center;
    }

    #report-form
    {
       width: 80%;
    }

}
