.declare-page-heading
{
    display: inline-block;
    width: 100%;
}

.heading-id
{
    display: inline-block;
    text-align: center;

}

.heading-name
{
    display: inline-block;
    text-align: center;
}

.heading-plus
{
    display: inline-block;
    text-align: center;
}

.declare-page-heading .heading-id
{
    width: 10%;
}

.declare-page-heading .heading-name
{
    width: 70%;
}

.declare-page-input
{
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.declare-page-input .text-code 
{
    width: 10%;
    font-size: 25px;
    background-color: #C4C4C4 ;
    text-align: center;
}

.declare-page-input .text-name
{
    width: 70%;
    font-size: 25px;
    background-color: #C4C4C4 ;
    text-align: center;
}

.declare-page-input .ti-plus
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(63, 199, 63);
    margin-left: 5%;
}

.declare-page-button
{
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.declare-page-content table
{
    border-spacing: 0px 50px;
}
