*
{
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Rubik', sans-serif;
}

table
{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

table td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ti-plus
{
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgb(63, 199, 63);
}

.ti-plus:hover
{
    color: black;
    opacity: 0.6;
}

.ti-pencil-alt
{
    font-size: 35px;
}

.ti-pencil-alt:hover
{
    color: #FF7675;
}

button
{
    padding: 10px;
    border-radius: 20px;
    border-color: #DFE6E9;
    font-size: 25px;
    background-color:#C4C4C4;
}
 button:hover
 {
    color: white;
    background-color: #FF7675;
 }

#brand 
{
    position: fixed;
    width: 22%;
    height: 6%;
    left: 5px;  
    top: 10px;
    background: #FF7675;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    color: #2A1413;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

#nav
{
    position: fixed;
    margin-top: 70px;
    height: 100%;
    width: 22%;
    left: 5px;
    display: inline-block;
}

#nav li
{
    margin-top: 35px;
    text-align: center;
    line-height: 40px;
}

#nav li a
{
    display: block;
    background-color: #3E5463;
    border-radius: 20px;
    text-decoration: none;
    font-size: 23px;
    color: white;
}

#nav > li:hover > a
{
    color: black;
    background-color:#FF7675;
}

#login
{
    position: fixed;
    right:10px;
    top: 10px;
    width: 560px;
    height: 50px;
    line-height: 50px;
    background-color:#3E5463;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}

#login label
{
    display: inline-block;
    margin-left: 7px;
}

#login input
{
    padding-top: 5px;
    background-color:#3E5463 ;
    border: none;
    color: white;
    font-size: 16px;
}

#login button
{
    position: relative;
    padding: 0px;
    top: 5px;
    font-size: 25px;
    height: 31px;
    line-height: 30px;
    background-color:#FF7675 ;
    border-radius: 15px;
    color: white;
}

#login button:hover
{
    color: black;
}

#inv-bar
{
    position: fixed;
    right: 10px;
    top: 100px;
    width: 379px;
    height: 685px;
    border-radius: 20px;
    background-color:#3E5463 ;
    text-align: center;
}

.inv-bar-container
{
    padding: 15px;
}

.inv-bar-heading
{
    color: white;
}

.main
{
    position: relative;
    top: 100px;
    left: 363px;
    width: 50%;
    height: 685px;
    background-color: #DFE6E9;
    color: black;
    font-size: 25px;
    overflow: auto;
    border-radius: 20px;
}

.container
{
    padding: 20px 40px;
}

.declare-page-heading
{
    display: inline-block;
    width: 100%;
}

.heading-id
{
    display: inline-block;
    text-align: center;

}

.heading-name
{
    display: inline-block;
    text-align: center;
}

.heading-plus
{
    display: inline-block;
    text-align: center;
}

.declare-page-heading .heading-id
{
    width: 10%;
}

.declare-page-heading .heading-name
{
    width: 70%;
}

.declare-page-input
{
    margin-top: 30px;
    width: 100%;
}

.declare-page-input input 
{
    width: 85%;
    font-size: 25px;
    background-color: #C4C4C4 ;
}

.declare-page-input .ti-plus
{
    margin-left: 5%;
}

.declare-page-button
{
    margin-top: 40px;
    width: 100%;
    padding-left: 33%;
}

#declare-page-button-add
{
    margin-right: 5%;
}

.declare-page-content table
{
    border-spacing: 0px 50px;
}

.heading-acc
{
    display: inline-block;
    text-align: center;
}

.heading-declare
{
    display: inline-block;
    text-align: center;
}

#acc-page .container
{
    padding: 20px 0 20px 40px;
}

.acc-page-heading .heading-id
{
    width: 10%;
}

.acc-page-heading .heading-name
{
    width: 40%;
}

.acc-page-heading .heading-acc
{
    width: 20%;
}

.acc-page-heading .heading-declare
{
    width: 20%;
}

.acc-page-content table
{
    margin-top: 30px;
    border-spacing: 0px 20px;
}

.acc-page-content table .ti-layers
{
    font-size: 20px; 
    margin-right: 5px;
}

.acc-page-content table .ti-layers:hover
{
    color: #FF7675;
}

.acc-page-content table .ti-reload:hover
{
    color: #FF7675;
}

.acc-page-content table .ti-lock:hover
{
    color: #FF7675;
}

.acc-page-content table .ti-trash
{
    color: red;
}

.acc-page-content table .ti-trash:hover
{
    opacity: 0.6;
}

.acc-page-footer
{
    position: absolute;
    bottom: 10px;
}

.acc-page-footer button
{
    margin-left: 70px;
}



