#logout
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    right:10px;
    top: 10px;
    width: 35vw;
    height: 6vh;
    background-color:#3E5463;
    border-radius: 20px;
    font-size: 23px;
    color: white;
}

#logout a
{
    color: white;
    text-decoration: none;
}

#logout a:hover
{
    color: #FF7675;
}

#logout button
{
    padding: 5px;
    background-color: #FF7675;
    color: black;
}

#logout button:hover
{
    color: white;
}

#logout button .ti-power-off
{
    font-size: 21px;
}
