#brand 
{
    display: flex;
    position: fixed;
    width: 22vw;
    height: 6vh;
    left: 5px;  
    top: 10px;
    background: #FF7675;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    color: #2A1413;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

#nav
{
    position: fixed;
    list-style: none;
    margin-top: 12vh;
    height: 80vh;
    width: 22vw;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav li
{
    text-align: center;
    line-height: 40px;
}

#nav li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E5463;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#nav > li:hover > a
{
    color: black;
    background-color:#FF7675;
}