.bar
{
    position: fixed;
    right: 10px;
    top: 12vh;
    width: 24vw;
    height: 86vh;
    border-radius: 20px;
    background-color:#3E5463 ;
    color: white;
    overflow: auto;
}

.bar-container
{
    min-height: 90%;
    position: relative;
    padding: 15px;
}

.bar-heading
{
    text-align: center;
}